# these folders are taken directly from the provided folders mu.zip and um.zip
# code will not run unless these folders are present with the listed files

mu/*
# contents:
#   all.dta
#   all.idx
#   example.dta
#   qual.dta
#   README

um/*
# contents:
#   all.dta
#   all.idx
#   example.dta
#   qual.dta
#   README

# run dataset_creation.py to populate this folder as listed
data/*
# contents:
#   mu_train.csv
#   mu_val.csv
#   mu_hidden.csv
#   mu_probe.csv
#   mu_qual.csv
#   um_train.csv
#   um_val.csv
#   um_hidden.csv
#   um_probe.csv
#   um_qual.csv

# submissions from all models should be saved here
# submissions/*

# save model parameters here
models/*

# compiled pythons are venomous
__pycache__/*

# save outputs here
outputs/*
